<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook Open Graph meta -->
    <meta property="og:title" content="">
    <meta property="og:description" content="">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <title>backbone-tryout</title>

    <!-- Included Font Files -->
    <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>

    <!-- Included CSS Files -->
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <button class="new-apod"><i class="fa fa-rocket"></i></button>
    <div class="main-container">
        <!-- <div class="apod">
            <div class="apod apod__media" style="background-image:url('images/space.jpg')"></div>
            <div class="apod apod__desc">
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Consectetur adipisicing elit. Autem iure nobis perspiciatis cum fugit itaque, deleniti, hic accusantium voluptates quas rerum nostrum eligendi ex molestias ipsa maiores doloribus facere quo.</p>
                <p>2015/11/27 - 08:45</p>
            </div>
        </div> -->
    </div>

    <footer>
        <div class="inner">
            <p class="about">About</p>
        </div>
    </footer>

    <script id="tplApod" type="text/template">

        <div class="apod__media" style="background-image:url('<%= image %>')"></div>
        <div class="apod__desc">
            <p class="glitch" data-text="<%= title %>">
                <%= title %>
            </p>
            <p class="glitch" data-text="<%= date %>">
                <%= date %>
            </p>
        </div>
    </script>

    <!-- Initialize JS Plugins/Shims -->
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/underscore/underscore-min.js"></script>
    <script src="./node_modules/backbone/backbone-min.js"></script>
    <script src="./node_modules/backbone.localstorage/backbone.localstorage-min.js"></script>

    <script src="./javascript/app.js"></script>

    <script src="./javascript/router.js"></script>

    <script src="./javascript/models/model.js"></script>

    <script src="./javascript/collections/collection.js"></script>

    <script src="./javascript/views/photo-item.js"></script>
    <script src="./javascript/views/home.js"></script>

</body>

</html>
