<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook Open Graph meta -->
    <meta property="og:title" content="">
    <meta property="og:description" content="">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <title>backbone-tryout</title>

    <!-- Included Font Files -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro|Rubik:400,500,300' rel='stylesheet' type='text/css'>

    <!-- Included CSS Files -->
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div class="loader">
        <p class="loading">Loading<span>.</span><span>.</span><span>.</span></p>
    </div>

    <div class="main-container"></div>

    <footer>
        <div class="inner">
            <ul class="external__links">
                <li class="external__links__link">
                    <a data-about href="#">About</a>
                </li>
            </ul>
            <button class="new-apod"><i class="fa fa-space-shuttle"></i></button>
        </div>
    </footer>

    <script id="tplApod" type="text/template">
        <div class="box__media lazy" data-original="<%= model.url %>" style=""></div>
        <div class="box__content">
            <header class="box__header">
                <div class="expand <% if(options.descriptionVisible) { %>expand--active<% } %>"></div>
                <div class="download">
                    <a href="<%= model.hdurl %>" download="<%= model.title %>"></a>
                </div>
                <p class="date glitch"><%= model.date %></p>
                <p class="title glitch"><%= model.title %></p>
            </header>
            <section class="box__read-more" style="<% if(options.descriptionVisible) { %>height: auto;<% } %>">
                <p class="description">
                    <%= model.explanation %>
                </p>
                <p class="credit">
                    <%= model.copyright %>
                </p>
            </section>
        </div>
    </script>

    <script id="tplAbout" type="text/template">
        <div class="box__media lazy" data-original="images/space.jpg" style=""></div>
        <div class="box__content">
            <header class="box__header">
                <p>About</p>
            </header>
            <section>
                <p>This little web app generates a random <a target="_blank" href="http://apod.nasa.gov/apod/astropix.html">APOD</a> (Astronomy Picture Of the Day) from NASA's archives.</p>
                <p>I had to work on a couple of Backbone projects at work so I wanted to become a bit more familiar with the framework.</p>
                <p>Side-project by <a target="_blank" href="http://rafaelderolez.be">Rafael Derolez</a></p>

            </section>
        </div>
    </script>

    <!-- Initialize JS Plugins/Shims -->
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/underscore/underscore-min.js"></script>
    <script src="./node_modules/backbone/backbone-min.js"></script>
    <script src="./node_modules/backbone.localstorage/backbone.localstorage-min.js"></script>
    <script src="./node_modules/jquery-lazyload/jquery.lazyload.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>

    <script src="./javascript/app.js"></script>

    <script src="./javascript/router.js"></script>

    <script src="./javascript/models/model.js"></script>

    <script src="./javascript/views/home.js"></script>
    <script src="./javascript/views/apod-item.js"></script>
    <script src="./javascript/views/about.js"></script>

</body>

</html>
