.apod {
    width: 100%;
    height: 100%;
}

.new-apod {
    position: absolute;
    z-index: 15;
}

.apod__media {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-size: cover;
    background-position: center center;
}

.apod__desc {
    margin: 20px;
    max-width: 540px;
    line-height: 1.618;
    position: absolute;
    z-index: 10;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.09);
    .inner {

    }
    p {
        margin: 0 auto;
        font-weight: 100;
    }
}
