.apod {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.new-apod {
    position: absolute;
    z-index: 10;
}

.apod__media {
    position: absolute;
    z-index: 5;
    background-size: cover;
    background-position: center center;
}
.apod__desc {
    position: relative;
    z-index: 10;
    color: #FFF;
    text-shadow: 1px 1px #000;

    p {
        margin: 0 auto;
        font-weight: 100;
    }
}
