.box {
    width: 100%;
    height: 100%;

    &--about {
        .box__media {
            @include animation-name(slowZoom);
            @include animation-duration(80s);
            @include animation-timing-function(ease);
            @include animation-iteration-count(infinite);
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        @include transition(all 0.3s ease);
        @include rem(padding, 20px);
        @include rem(margin, 20px);
        background-color: rgba($asphalt, 0.9);
        color: darken($white, 5%);
        max-height: calc(100% - 110px);
        width: 480px;
        max-width: 100%;
        line-height: 1.618;
        position: absolute;
        overflow: scroll;
        z-index: 10;
        @include media(max-width 520px) {
            width: calc(100% - 40px);
        }
    }

    &__header {
        @include rem(padding, 0 65px 0 0);
        @include rem(font-size, 14px);
        position: relative;

        p {
            margin: 0;
        }
    }

    &__media {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
        background-size: cover;
        background-position: center center;
    }

    &__read-more {
        height: 0;
        overflow: scroll;
    }

    section {
        p {
            @include rem(margin, 10px 0);
            @include rem(font-size, 13px);
            line-height: 1.618;
            font-weight: 100;
            color: darken($white, 5%);
        }
    }

    a {
        color: $white;
        text-decoration: underline;
    }
}
@include keyframes(slowZoom) {
    0% {
        @include transform(scale(1) rotate(0deg));
    }

    50% {
        @include transform(scale(1.1) rotate(6deg));
    }

    100% {
        @include transform(scale(1));
    }
}
