.download {
    @include transform(translateY(-50%));
    top: 50%;
    right: 36px;
    width: 13px;
    height: 16px;
    cursor: pointer;
    position: absolute;

    &:after,
    &:before {
        width: 8px;
        height: 1px;
        position: absolute;
        background-color: #FFF;
        top: 6px;
        content: " ";
    }

    &:after {
        @include transform(rotate(135deg));
        right: 0;
    }

    &:before {
        @include transform(rotate(-135deg));
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        padding-bottom: 15px;
        border-bottom: 1px solid #FFF;
    }
}
