.new-apod {
    @include transition(all 0.35s $slick-ease);
    @include rem(margin, 0 auto);
    @include rem(font-size, 18px);
    padding: 0;
    background-color: $asphalt;
    color: $white;
    outline: none;
    border: none;
    overflow: hidden;

    &:hover {
        background-color: lighten($asphalt, 5%);
    }

    .fa-space-shuttle {
        @include transition(all 0.4s ease);
        @include rem(padding, 16px 56px);
        display: block;
        position: relative;
        overflow: hidden;

        &:before {
            display: block;
        }
    }

    &.animate {
        pointer-events: none;

        .fa-space-shuttle:before {
            @include animation-name(rocket-slide);
            @include animation-iteration-count(1);
            @include animation-timing-function(ease);
            @include animation-duration(0.4s);
        }
    }
}
