.new-apod {
    @include transition(all 0.35s $slick-ease);
    font-size: rem(24);
    overflow: hidden;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    outline: none;
    border: 0;
    background-color: #FFC107;

    &:hover {
        background-color: lighten(#FFC107, 5%);
    }

    &:active {
        @include transform(scale(0.9));
        background-color: lighten(#FFC107, 15%);
    }
}

.fa-rocket {
    @include animation(rocket 0.8s 1.6s $ease-in-out-cubic backwards);
}

@include keyframes (rocket) {
    0% {
        @include transform(translate(0, 0));
        opacity: 1;
    }

    49% {
        @include transform(translate(40px, -40px));
        opacity: 1;
    }

    50% {
        @include transform(translate(40px, -40px));
        opacity: 0;
    }

    74% {
        @include transform(translate(-40px, 40px));
        opacity: 0;
    }

    75% {
        @include transform(translate(-40px, 40px));
        opacity: 1;
    }

    100% {
        @include transform(translate(0, 0));
        opacity: 1;
    }
}
