footer {
    position: absolute;
    z-index: 5;
    color: #FFF;
    bottom: 0;
    width: 100%;
    display: block;
    p {
        display: block;
        margin: 0;
    }
    .about {
        cursor: pointer;
    }
    .inner {
        padding: 20px;
    }
}
