footer {
    position: absolute;
    z-index: 5;
    color: #FFF;
    bottom: 0;
    width: 100%;
    display: block;

    a {
        @include rem(font-size, 16px);
        @include rem(margin, 16px 0);
        color: #F7F7F7;
        position: absolute;
        right: 0;
        font-family: $alt-font;
        font-weight: 500;
    }

    .inner {
        @include row();
        margin: 20px;
        position: relative;
        text-align: center;
    }
}

@include keyframes(rocket-slide) {
    48% {
        -webkit-transform: translateX(430%);
    }

    49% {
        opacity: 1;
        -webkit-transform: translateX(430%);
    }

    50% {
        opacity: 0;
        -webkit-transform: translateX(430%);
    }

    51% {
        opacity: 0;
        -webkit-transform: translateX(-430%);
    }

    52% {
        opacity: 1;
        -webkit-transform: translateX(-430%);
    }

    100% {
        -webkit-transform: translateX(0%);
    }
}
